@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row app-header">
            <div class="app-header-left">
                <a class="btn btn-outline-secondary btn-sm" href="/">Home</a>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="app-header-right">
                        <span class="user-email">@context.User.Identity?.Name</span>
                        <form method="post" action="/Identity/Account/Logout" class="d-inline">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
                        </form>
                        <a class="btn btn-outline-secondary btn-sm" href="/settings">Settings</a>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="app-header-right">
                        <a class="btn btn-outline-primary btn-sm" href="/Identity/Account/Login">Login</a>
                        <a class="btn btn-primary btn-sm" href="/Identity/Account/Register">Sign up</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
